/* styles.css */
.cursor-pointer {
    cursor: pointer;
  }
  
  .cursor-zoom {
    cursor: zoom-in;
  }
  .filled-background {
    background-color: lightblue; /* Set the desired background color */
    padding: 5px; /* Add padding for spacing */
    border-radius: 5px; /* Add border-radius for rounded corners */
    display: inline-block; /* Display as inline-block to fill the background */
  }
 /* Width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #050816; /* Primary color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa6c3; /* Secondary color */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151030; /* Tertiary color */
}
